@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$carolina-blue: #4B9CD3;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$primary: #638CCD;
$white: #EFEFEF;
$black: #111112;
$light: #E2E5E9;
$dark: #090F18;
$info: #01B684;
$success: #58CD8C;
$warning: #FFA302;
$danger: #FF5D02;
$link: #FFCA6D;

$widescreen-enabled: false;
$fullhd-enabled: false;
$size-1: 6rem;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
// Nah homie import everything
// If we could optimize this though that would help build size
@import "../node_modules/bulma/bulma.sass";
//@import "../node_modules/bulma/sass/utilities/_all.sass";
//@import "../node_modules/bulma/sass/base/_all.sass";
//@import "../node_modules/bulma/sass/elements/button.sass";
//@import "../node_modules/bulma/sass/elements/container.sass";
//@import "../node_modules/bulma/sass/elements/title.sass";
//@import "../node_modules/bulma/sass/elements/image.sass";
//@import "../node_modules/bulma/sass/form/_all.sass";
//@import "../node_modules/bulma/sass/components/navbar.sass";
//@import "../node_modules/bulma/sass/layout/hero.sass";
//@import "../node_modules/bulma/sass/layout/section.sass";
//@import "../node_modules/bulma/sass/grid/columns.sass";
//@import "../node_modules/bulma/sass/components/level.sass";
//@import "../node_modules/bulma/sass/helpers/typography.sass";
//@import "../node_modules/bulma/sass/elements/content.sass";
//@import "../node_modules/bulma/sass/layout/footer.sass";
//@import "../node_modules/bulma/sass/helpers/flexbox.sass";
//@import "../node_modules/bulma/sass/components/tabs.sass";
